@charset "utf-8";
.pagi-contain{
	text-align:center;
	color:#666;
}
.pagi-list{
	display: inline-block;
}
.pagi-item{
	display: inline;
}
.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagi-first{
  margin-left: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.pagi-last{
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.pagi-item .active{
  z-index: 2;
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.pagi-item .disabled {
  color: #636c72;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.pagi-link {
  position: relative;
  display:inline-block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0070c0;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagi-link:focus, .pagi-link:hover {
  color: #014c8c;
  text-decoration: none;
  background-color: #eceeef;
  border-color: #ddd;
}
.pagi-goto-num{
	border: 1px solid #ddd;
	width: 1.8rem;
	padding-left: .3rem;
	padding-right: .3rem;
	border-radius: 3px;
	margin-left:14px;
}
.pagi-goto-btn{border:none; margin-left:4px; padding:0.5rem 0.5rem;}
.pagi-first{margin-left:14px;}
